# version: '3.8'

# services:
#   # 1. PostgreSQL 資料庫服務
#   db:
#     image: postgres:15-alpine
#     container_name: grades_db
#     restart: always
#     environment:
#       POSTGRES_USER: myuser      # 帳號
#       POSTGRES_PASSWORD: mypassword  # 密碼 (開發用簡單就好)
#       POSTGRES_DB: grades_db     # 資料庫名稱
#     ports:
#       - "5432:5432" # 開放 5432 port 讓 Go 連線
#     volumes:
#       - postgres_data:/var/lib/postgresql/data # 讓資料持久化，重開機不會不見

#   # 2. pgAdmin (資料庫網頁管理介面)
#   pgadmin:
#     image: dpage/pgadmin4
#     container_name: grades_pgadmin
#     restart: always
#     environment:
#       PGADMIN_DEFAULT_EMAIL: admin@admin.com
#       PGADMIN_DEFAULT_PASSWORD: admin
#     ports:
#       - "5050:80" # 我們把網頁開在 5050 port

# volumes:
#   postgres_data:


services:
  app:
    env_file:
      - .env
    build: .
    container_name: grade_system_app
    restart: always
    ports:
      - "127.0.0.1:8080:8080" # 關鍵：只綁定在 localhost，外網無法直接連 8080
    depends_on:
      - db
    environment:
      - DB_HOST=db       # 對應下方的 service name
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_NAME=grades_db
      - DB_PORT=5432

  db:
    image: postgres:15-alpine
    container_name: grades_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: grades_db
    # 移除 ports 區塊，或者改成 "127.0.0.1:5432:5432" 以防外網直接連線資料庫
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: